---
import BaseLayout from "../layouts/BaseLayout.astro"
import HomeWallpaper from "../components/HomeWallpaper.astro"
import ToggleTheme from "../components/ToggleTheme.astro"
import { SITE_TITLE, navBarLinks } from "../config"

const links = navBarLinks
---

<BaseLayout>
  <HomeWallpaper>
    <ToggleTheme />
    <main>
      <h1 class="mb-5 text-4xl font-bold">{SITE_TITLE}</h1>
      <p class="mb-2 text-lg">Hi, I'm Yoshio Sugiyama.<br />Applied AI Engineer / AI Platform Engineer at HPE Japan.</p>
      {
        links.length > 1 &&
          links.map(link => (
            <div class="tooltip tooltip-bottom" data-tip={link.name}>
              <a href={link.url}>
                <button class="btn btn-ghost text-lg" aria-label={link.name}>
                  <i class={`fa-solid ${link.icon}`} />
                </button>
              </a>
            </div>
          ))
      }
    </main>
  </HomeWallpaper>
</BaseLayout>
