---
import { SITE_TITLE, navBarLinks, socialLinks } from "../config"

const navs = navBarLinks
const socials = socialLinks
---

<header class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:hidden">
        <i class="fa-solid fa-bars text-lg"></i>
      </label>
      <ul class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
        {
          navs.length > 1 &&
            navs.map(link => (
              <li>
                <a href={link.url}>
                  <i class={`fa-solid ${link.icon}`} />
                  {link.name}
                </a>
              </li>
            ))
        }
      </ul>
    </div>
    <a href="/" class="btn btn-ghost normal-case text-xl">{SITE_TITLE}</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      {
        navs.length > 1 &&
          navs.map(link => (
            <li>
              <a href={link.url}>
                <i class={`fa-solid ${link.icon}`} />
                {link.name}
              </a>
            </li>
          ))
      }
    </ul>
  </div>
  <div class="navbar-end">
    {
      socials.length > 1 &&
        socials.map(link => (
          <a
            href={link.url}
            target="_blank"
            class="btn btn-ghost btn-square text-lg"
            aria-label={link.name}
            title={link.name}
          >
            <i class={`fa-brands ${link.icon}`} />
          </a>
        ))
    }
  </div>
</header>
